<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Expense Manager</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
		</style>
	</head>
	<body style="background: #fe5b00;">

		<div class="container text-center" style="margin-left: 20px; margin-top: 10px; width: 300px;">
			<h1 style="font-family: 'Oswald', sans-serif; color: white;">Expense Manager</h1>
			<hr>

		</div>
		
		<div class="container" style="padding: 0px;">

			<div class="row center-block" style="margin-top: 50px;">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<img src="../static/Images/bill.png" style="width: 80%;">
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
					<h1 style="font-family: 'Oswald', sans-serif; font-size: 48px; color: white; ">Expense Manager</h1>
					<h4 style="font-family: 'Oswald', sans-serif;  color: white; font-size: 24px; margin-top: 30px; ">Fed up of managing your day to day Expenses? <br> We are here to help!</h4>
					<a href="{{ url_for('Dashboard') }}"><button style="margin-top: 30px; font-family: 'Oswald', sans-serif;  color: white; font-size: 18px; width: 30%; margin-left: " type="button" class="btn btn-success"> Login</button></a>
					<h4 style="font-family: 'Oswald', sans-serif;  color: white; font-size: 16px; margin-top: 50px; ">Not a member? Sign up Now!</h4>
					<button style="font-family: 'Oswald', sans-serif;  color: white; font-size: 18px; width: 30%; margin-left: " type="button" class="btn btn-primary"> Sign up</button>
				</div>
			</div>

		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="Hello World"></script>
	</body>
</html>